//---------------------------------------------------------------------------------------------//
//======================================= custom mixins =======================================//
//---------------------------------------------------------------------------------------------//

//- parent -//
@mixin parent() {
  max-width: var(--parent) !important;
  width: 100%;
  margin-inline: auto;
}

//- subparent -//
@mixin subparent() {
  max-width: var(--subparent) !important;
  width: 100%;
  margin-inline: auto;
}

//- pixel border -//
@mixin pixelBorder() {
  --c-size: 4.5px;
  
  padding: var(--c-size);
  position: relative;
  isolation: isolate;
  clip-path: $clip-path;
  
  &::before, &::after {
    content: "" !important;
    position: absolute !important;
    opacity: 1 !important;
    z-index: -1 !important;
    clip-path: $clip-path;
    inset: 0;
  }
  
  // border
  &::before {
    background-color: var(--accent) !important;
  }
  
  // body
  &::after {
    inset: var(--c-size);
    background-color: var(--bg);
  }
}

//- buttons -//
@mixin btn() {
  --bg: var(--primary);
  --c: #000000;
  --b: initial;
  --p: .5em 1em;
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: 36px;
  --g: 5px;
  --br: 30px;
  &:has(> .v-btn__content > :only-child) {--br: 10px};
  --bs: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fs: max(16px, 1em);
  --fw: 300;
  --ls: -0.005em;
  --lh: 1;
  --f: initial;
  --t: initial;
  
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  font-size: var(--fs);
  padding: var(--p) !important;
  width: var(--w) !important;
  max-width: var(--max-w) !important;
  min-width: var(--min-w) !important;
  height: var(--h) !important;
  max-height: var(--max-h) !important;
  min-height: var(--min-h) !important;
  border: var(--b);
  transform: var(--t);
  filter: var(--f);
  
  & :is(span, img, i) {
    color: var(--c);
    font-size: 1em;
    font-weight: var(--fw) !important;
    text-transform: var(--tt, initial);
    letter-spacing: var(--ls);
    line-height: var(--lh);
  }
  
  // margin
  &, > .v-btn__content {
    display: flex;
    gap: var(--g);
  }
}

//- cards -//
@mixin card() {
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: none;
  --bg: var(--card);
  --c: var(--text);
  --b: initial;
  --p: 1em;
  --br: 30px;
  --bs: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --f: initial;
  --t: initial;

  width: var(--w) !important;
  max-width: var(--max-w) !important;
  min-width: var(--min-w) !important;
  height: var(--h) !important;
  max-height: var(--max-h) !important;
  min-height: var(--min-h) !important;
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  padding: var(--p);
  border: var(--b) !important;
  transform: var(--t);
  filter: var(--f);
}



//---------------------------------------------------------------------------------------------//
//====================================== custom classes =======================================//
//---------------------------------------------------------------------------------------------//

//- limit size -//
.parent {
  @include parent;
}
.subparent {
  @include subparent;
}
.margin_global {
  padding-inline: var(--margin-global);
}
.margin_globalmobile {
  @include media(max, small) {padding-inline: var(--margin-global) !important}
}


// //- buttons -//
// .btn {
//   @include btn;
// }



// //- cards -//
// .card {
//   @include card;
// }

