#account-details {
  @include parent;
  padding-inline: var(--margin-global);


  h5 {
    --fw: 700;
    --fs: 12px;
    color: #333;
    font-family: var(--font2);
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    --fw: 500;
    --fs: 10px;
    color: #333;
    font-family: var(--font2);
    line-height: normal;
    text-transform: none;
  }


  &-detail {
    margin-bottom: 29px;

    span { letter-spacing: normal !important }

    span:first-child {
      --fw: 700;
      font-size: 12px;
      color: #000;
      font-family: var(--font2);
      line-height: normal;
    }

    .min-width-span{
      min-width: 130px!important;
    }

    span + span, span:only-child {
      --fw: 500;
      font-size: 10px;
      color: #333;
      font-family: var(--font2);
      line-height: normal;
    }

    .v-card {
      --br: 20px;
      padding: 22px 15px;
      display: flex;
      flex-direction: column;
      gap: 27px;

      aside > div:first-child h5 { max-width: 101px }
    }
  }
}
