#approve-transaction {
  @include parent;
  padding-inline: var(--margin-global);


  h5 {
    --fw: 700;
    --fs: 10px;
    color: #000;
    font-family: var(--font2);
    line-height: normal;
    text-transform: none;

    &::first-letter { text-transform: none !important }
  }


  .v-card {
    --br: 20px;
    --bg: var(--secondary);
    --b-color: #D1C4E8;
    padding: 5px 20px 5px 24px;
    display: flex;
    gap: 10px;

    span {
      font-size: 12px;
      --ls: normal;
      --tt: none;
    }

    label {
      --fw: 700;
      --fs: 12px;
      --tt: uppercase;
      font-family: var(--font2);
      line-height: normal;
    }
  }

  > aside .v-btn { max-width: 153px }
}
