#documents {
  @include parent;
  padding-inline: var(--margin-global);


  .collection {
    margin-bottom: 40px;

    h6 {
      --fw: 700 !important;
      font-size: 12px !important;
      font-family: var(--font2) !important;
      display: inline-block;
    }

    > span {
      --size: 22.5px;
      --fw: 700 !important;
      font-size: 12px !important;
      font-family: var(--font2) !important;
      display: grid;
      place-items: center;
      float: right;
      background-color: var(--primary);
      color: #fff;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      translate: 0 -4px;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
