#document-transfer {
  @include parent;
  padding-inline: var(--margin-global);
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-header {
    display: grid;
    place-items: center;
    --fw: 700 !important;
    font-family: var(--font2) !important;

    img[alt="check"] {
      float: left;
    }

    span {
      font-size: 9px;
    }
  }
  
  * {
    font-family: var(--font2) !important;
  }
  
  p {
    --fw: 500;
    font-size: 10px;

    &.bold {
      --fw: 700 !important;
    }
  }
  
  h6 {
    --fw: 400;
    font-size: 12px;

    &.bold {
      --fw: 700 !important;
    }
  }

  .v-card {
    --br: 20px;
    --bg: #DEE6EA;
    --b-color: #D1C4E8;
    padding: 15px;
    --tt: none !important;
  }
}
