#passphrase-word {
  @include parent;
  padding-inline: var(--margin-global);

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .v-btn + .v-btn {
      margin-top: 60px;
    }
  }
}
