// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  position: relative;
  overflow: hidden;
  background: center no-repeat url(../../sources/images/background.png) !important;
  background-size: cover !important;

  &-background {
    position: absolute;
    top: calc(var(--margin-with-top) + 70px);
    left: 0;
    right: 0;
    margin: auto;
    width: 100% !important;
    max-width: 452px !important;
  }

  //- responsive font size -//
  & > * {
    font-size: var(--resizer);
  }
  .v-main {
    & > * {
      @include media(max, small) {
        font-size: var(--resizer-mobile)
      }
    }
  }
}
